@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai&family=Taviraj&display=swap");
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans Thai", sans-serif;
}
.container-Home {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 1110px;
  margin: 0 auto;
  padding: 0 ; 
}
.bg-book{
  background-image: url("../../../pic/library_bg.jpg");
  height:44.5rem;
  width: 100%;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
    /* Add the blur effect */
  filter: blur(8px); 
  -webkit-filter: blur(8px);
}
.middle-info{
  position: absolute;
  /* top: 50%;
  left: 50%; */
  /* transform: translate(-50%,-50%); */
  z-index: 2;
  width: 45%;
  padding: 40px 0;
  text-align: center;
  /* background-color: rgba(0, 0, 0, 0.5); */

}
/* middle content */
.Logo-mid{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.Logo-word-My{
  font-size: 5rem;
  color: blue;
}
.Logo-word-Book{
  font-size: 5rem;
  color:orange;
}
/* below btn  */
.get-start{
  color: white;
  cursor:pointer;
}
.mid-info{
  padding: 0.5rem;
}
